<!DOCTYPE html>
<html>

<head>
<meta content="en-us" http-equiv="Content-Language">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Thank you for filling the form</title>
<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	border-width: 0px;
}
</style>
</head>

<body style="background-color:#E0FFFF;">

<h3 class="auto-style1">Thank you for filling the form! </h3>
<p class="auto-style1">Wish you to be as happy as this <span>Quokka&nbsp;</span></p>
<p class="auto-style1">
<a href="https://leila-world-blog.com/2021/05/24/picturesquokka-😍-the-happiest-animal-on-earth/">
<img alt="Quokka " class="auto-style2" height="1019" longdesc="picture of smilling Quokka " src="../../public/img/Quokka.jpg" width="720"></a></p>

</body>

</html>
